@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

@font-face {
    font-family: 'CompassGold';
    src: url('fonts/compass-gold-v1/CompassGold.ttf') format('truetype'), url('fonts/compass-gold-v1/CompassGold.woff') format('woff'), url('fonts/compass-gold-v1/CompassGold.otf') format('opentype');
}

@font-face {
    font-family: 'HopeGold';
    src: url('fonts/hope-gold-v1/HopeGold.ttf') format('truetype'), url('fonts/hope-gold-v1/HopeGold.woff') format('woff'), url('fonts/hope-gold-v1/HopeGold.otf') format('opentype');
}

:root {
    --font-family-title: "Lato", sans-serif;
    --font-family-subtitle: 'HopeGold', Helvetica, Arial, sans-serif;
    --font-family-primary: 'Poppins', 'Open Sans', Helvetica, Arial, sans-serif;
    --font-family-secondary: 'Poppins', 'Open Sans', Helvetica, Arial, sans-serif;
    /**/

    --link-color: #13aff0;
    --link-color-darker: #0c8ec4;
    /**/

    --border-color: #383838;
    --border-color-lighter: #454545;
    /**/

    --title-color: #ffffff;
    --title-color-darkest: #cccccc;
    --subtitle-color: #f1f1f1;
    --highlight-color: #ffffff;
    /**/

    --main-light: #e180ff;
    --main-med: #b667ff;
    --main-dark: #7341a5;
    /**/

    --body-bg: #171717;
    --body-bg-rgb: 23, 23, 23;
    --body-bg-lighter: #313131;
    --body-bg-darker: #0a0a0a;
    --body-bg-darkest: black;
    /**/

    --body-color: #bbbbbb;
    --body-color-rgb: 187, 187, 187;
    --body-color-darkest: #888888;
    /**/

    --header-bg: #000000;
    --header-bg-rgb: 0, 0, 0;
    --header-bg-darker: black;
}

body {
    margin: 0;
    color: var(--body-color);
    background-color: var(--body-bg) !important;
}

.background {
    background-color: var(--body-bg) !important;
}

.background-darker {
    background-color: var(--body-bg-darker) !important;
}
.background-darker p {
    color: #ffffff;
}

.background-lighter {
    background-color: var(--body-bg-lighter) !important;
}

h1 {
    font-family: var(--font-family-title);
    color: var(--title-color);
    letter-spacing: -0.035em;
}

h2, h3, h4, h5, h6, .title-font {
    font-family: var(--font-family-secondary);
    color: var(--title-color-darker);
}

a:hover, a:visited, a:link, a:active {
    color: var(--title-color);
    text-decoration: none;
}


/*~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

.blur {
    filter: blur(4px);
}

.padded {
    padding-left: 5%;
    padding-right: 5%;
}

.hidden {
    display: none !important
}

.center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.vertical-middle {
    vertical-align: middle
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
