body {
  padding: 10px 5% 0 5%;
  margin: 0;

  height:100%;

  background-image: url("/r/Background Padding.png");
  background-size: 100vw 4vw;
  background-repeat: repeat-y;


  image-rendering: pixelated;
}

.title {
  text-align: center;
	font-family: var(--font-family-title);
  /*font-family: 'CompassGold';*/

  font-size: 100px;
}

.menu {
  padding: 10px 5% 0 5%;
  width: auto;
}

.item {
  text-align: center;
  padding: 2px;
  margin: 1% auto;
  width: 200px;

  font-family: var(--font-family-subtitle);
  /*font-family: 'HopeGold';*/
  font-size: 30px;
  color: var(--subtitle-color);

  background-image: url("/r/Button.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.menu a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
}

.inputContainer {
  display: flex;
  flex-direction: column;

  width: 80%;
  margin-left: auto;
  margin-right: auto;

  white-space: nowrap;
}

.text {
  flex-grow: 1;
  text-align: left;
}

.message {
  flex-grow: 1;
  width: 100%;
  height: 25vh;
  resize: vertical;
  border-radius: 10px;
  color: var(--subtitle-color);
  background-color: var(--body-color-darkest);
}

.authorbox {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 100%;
  height: 1.2em;
  rows: 10;
}

.author {
  flex-grow: 30;
  height: 1.2em;
  border-radius: 10px;
}

.send {
  flex-grow: 5;

  padding: 0;
  margin: 0;
  margin-left: 10px;

  height: 100%;
}
