.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.invisible {
    opacity: 0;
    width: 1px;
    height: 1px;
    max-width: 1px;
    max-height: 1px;
    overflow: hidden;
}