
:root {
    --body-bg: #0f131a;
    --body-color: #ffffff;
    --accent: #0A0A12dd;
    --text: #adb3cb;
    /**/

    --font-family-title: "Lato", sans-serif;
    --font-family-primary: 'Poppins', 'Open Sans', Helvetica, Arial, sans-serif;
    /**/

    --title-color: #ffffff;
    --title-color-darkest: #cccccc;
    --subtitle-color: #f1f1f1;
    --highlight-color: #ffffff;
    /**/
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
    color: var(--text);
    background: var(--body-bg);

    font-family: var(--font-family-primary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 1.5em;
}

* {
  box-sizing: border-box;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,h2,h3,h4,h5 {
    color: var(--body-color);
}
